[Unit]
Description={{ username }}
After=syslog.target
After=network.target
Wants=network.target

[Service]
Type=simple
User={{ username }}
Group=intake24
ExecStart=/bin/bash {{ dir }}/start.sh
WorkingDirectory={{ dir }}

[Install]
WantedBy=multi-user.target
