[Unit]
Description=Intake24 database tools service
After=syslog.target
After=network.target
Wants=network.target

[Service]
Type=simple
User=intake24-tools
Group=intake24
ExecStart=/bin/bash /opt/intake24/tools/start.sh
WorkingDirectory=/opt/intake24/tools

[Install]
WantedBy=multi-user.target
