- name: Make sure intake24 group exists
  group:
    name: intake24
    state: present

- name: Make sure service user exists
  user:
    name: "{{ username }}"
    group: intake24

- name: Make sure service directory exists
  file:
    path: "{{ dir }}"
    state: directory
    owner: "{{ username }}"
    group: intake24
    mode: 0775

- name: Make sure local export directory exists
  file:
    path: "{{ dir }}/local-files"
    state: directory
    owner: "{{ username }}"
    group: intake24
    mode: 0775

- name: Copy service jar
  copy:
    src: "{{ source_jar_path }}"
    dest: "{{ dir }}/{{ dest_jar_name }}"

- name: Check if service is already running
  shell: systemctl is-active {{ username }}
  register: service_active
  failed_when: false

- name: Stop service if already running
  service:
    name: "{{ username }}"
    state: stopped
  when: service_active.rc == 0

- name: Copy systemd service file
  template:
    src: api-v2.service.j2
    dest: /lib/systemd/system/{{ username }}.service
    owner: root
    group: root
    mode: 0644

- name: Copy service config
  template:
    src: "{{ config_file_name }}"
    dest: "{{ dir }}/service.conf"
    mode: 0664
    owner: "{{ username }}"
    group: intake24

- name: Copy start-up script
  template:
    src: start.sh.j2
    dest: "{{ dir }}/start.sh"
    mode: 0775

- name: Enable service
  service:
    name: "{{ username }}"
    enabled: yes

- name: Restart service to apply configuration changes
  service:
    name: "{{ username }}"
    state: restarted
