- name: Make sure intake24 group exists
  group: name=intake24 state=present

- name: Make sure service user exists
  user: name=intake24-api-v2 group=intake24

- name: Make sure service directory exists
  file: path=/opt/intake24/api-v2 state=directory owner=intake24-api-v2 group=intake24 mode=0775

- name: Make sure local export directory exists
  file: path=/opt/intake24/api-v2/local-files state=directory owner=intake24-api-v2 group=intake24 mode=0775

- name: Copy service jar
  copy: src={{ source_jar_path }} dest=/opt/intake24/api-v2/{{ dest_jar_name }}

- name: Check if service is already running
  shell: systemctl is-active intake24-api-v2
  register: service_active
  failed_when: false

- name: Stop service if already running
  service: name=intake24-api-v2 state=stopped
  when: service_active.rc == 0

- name: Copy systemd service file
  copy: src=intake24-api-v2.service dest=/lib/systemd/system/intake24-api-v2.service owner=root group=root mode=0644

- name: Copy service config
  template: src={{ config_file_name }} dest=/opt/intake24/api-v2/service.conf mode=0664 owner=intake24-api-v2 group=intake24

- name: Copy start-up script
  template: src=start.sh.j2 dest=/opt/intake24/api-v2/start.sh mode=0775

- name: Enable service
  service:
    name: intake24-api-v2
    enabled: yes

- name: Restart service to apply configuration changes
  service: name=intake24-api-v2 state=restarted
